@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Kosugi+Maru&family=Lilita+One&family=Lobster+Two:ital,wght@1,700&family=Murecho&family=Outfit:wght@200&display=swap');

.modal {
    width: 100%;
    height: 500px; 
    background-color: #abcae7;
    background: -webkit-linear-gradient( #bbd1e6,#4a749b);
    position: absolute;
    bottom: 0;
    overflow: scroll;
    font-family: cursive;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99000;
    font-family: 'Jomhuria', cursive;
    padding: 15px;
  }


.drlist{
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group h1{
    margin: 20px;
    font-family: 'Lobster Two', cursive;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    font-size: 23px;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(#eee, rgb(51, 51, 51));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5000;
    cursor:pointer;
  }

  .overlay:hover{
    background-color: rgba(116, 15, 15, 0.5);
  }

  .leaflet-container {
    width: 100%;
    height: 100%;
  }

  .mapContainer{
    width: 99%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .hide{
    position: absolute;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-top: 0px;
    margin: 9px;
    cursor: pointer;
    /* margin-left: 0; */

  }

  .hide:hover{
    color: red;
  }

  botton{
    cursor: pointer;
  } 

  .group{
    /* background-color: #e7eef5; */
    background-color: rgba(244, 248, 250, 0.5);
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
    box-shadow: 3px 3px 10px #e7f3f3,
  -3px -3px 10px #818181;

  }
  a{
    position: relative;
    text-align: right;
    text-decoration: none;
    color: #193550;
    margin: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 11px;
    font-family: cursive;
    font-weight: bolder;
  }
  .link{
    margin-top: 7px;
    margin-bottom: 50px;
    margin-right: 0px;
  }

  h1:hover{
    text-shadow: rgba(244, 248, 250, 0.5);
    cursor: pointer;
    height:70px ;
    color: rgb(228, 223, 220);
  }

  #root{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1{
    height: 70px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .loadpage{
    display: flex;
    align-items: center;
    justify-content: center;
  }